<h1>Invite friends to add Recipes</h1>
<p>To add recipes click on Recipe tab at the top of your recipes page, then press the New Recipe button at the bottom left of your page to be taken to the Add Recipe Page. Do share recipes with your friends.</p>
